
<body>
    <app-header></app-header>
    <header>
        <div class="contenedor">
          <div class="dito">
            <div>caja1</div>
            <div>caja2</div>
            <div>caja3</div>
          </div>
          <b></b>
          <ul>
            
              <li class="li1"><a href="app.component.html">inicio</a></li>
              <li class="li2"><a href="app.micuenta.html">cuenta principal</a></li>
              <li class="li3"><a href="tabla.html">tabla</a></li>
            
          </ul>
      </div>
    </header>
<article>
    <section>
     <h1>
        Todo tendencia
     </h1>
      <h2 >  la pagina con mas de 10000 subscriptores</h2>
      <p class="pa">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi inventore consequuntur 
          corrupti rem delectus reiciendis architecto alias, fuga deserunt explicabo 
          suscipit, velit doloremque excepturi fugiat quos, 
          quia nihil tenetur! Esse!</p>

      
    </section>
</article>
<aside>
        <h3>contenido extra</h3>
        <p>¿Queres hacer una página web con HTML, CSS y JavaScript? 
            Este es el curso de HTML desde cero que vas a terminar, te prometo que no te vas 
            a aburrir durante el aprendizaje de este gran tutorial de HTML5 
            Actualizado 2021.</p>
</aside>    
<footer>
    <h4>todos los derechos reservado</h4>
    <p>seguirme en las redes</p>
</footer>
</body>
